@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Poppins');

body {
    background: f6f6f6;
    height: 100vh;
    overflow: hidden;
}

:root {
    --heading: 'Poppins', sans-serif;
    --para: 'Playfair Display', serif;
}

h1, h2, h3, h4 ,h5 {
    font-family: var(--heading);
    color: #333;
}

p {
    font-family: var(--para);
    font-size: 1.5em;
    color: orange;
}

.scrollable {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.form-check-input {
    margin: 0 10px !important;
}